/* .barra{
    display: flex;
    width: 100%;
    height: 100px;
    background-color: #9B9EE2;
    align-items: center;
}
.triangulo{
    margin: 0;
    width: 0px;
    border: 50px solid transparent;
    border-left-color:#ABADE0;
}

h4 {
    display: block;
    font-size: 2.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-family: 'Suez One';
    font-style: normal;
    color: #FFFFFF;
    font-weight: 400;
    line-height: 65px;
    text-shadow: 1px 1px 1px #000000;
} */

.container   {
    display: column;
    justify-content: space-between;
}
section{
    display: flex;
    padding: 30px 140px;
    justify-content: center;
}


article p {
    font-size: 20px;
    

}
article{
    display: flex;
    margin-top: 10px;
    margin-bottom: 60px;
    align-items: center;
    flex-direction: column;
    padding: 30px 0;
    max-width: 50%;
}


article img{
    width: 80%;
}

h3{
    padding: 10px;
    font-weight:bold;
    background-color: white;
    box-shadow: 4px 4px 7px 1px rgba(0,0,0,0.3);
    white-space: nowrap;
}

p{
    padding: 10px;
    background-color: white;
    max-width: 95%;
    text-align: justify;
    /*box-shadow: 4px 4px 7px 1px rgba(0,0,0,0.3);*/
}


/* cajacontacto*/

p.datos{
    width: 50%;
}



.info-form h5{
    font-size: 30px;
}
.container-form{
    width: 100%;
    max-width: 55%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 40px;
}
.container-form h2{
    margin-bottom: 15px;
    font-size: 35px
}
.container-form p{
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;
}
.container-form a{
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: black;
    font-weight: 700;
}
.container-form a i{
    color: #4d51c3;
    margin-right: 10px;
}
.container-form form .campo, textarea{
    width: 95%;
    padding: 15px 10px;
    font-size: 16px;
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
}
.container-form form textarea{
    max-width: 530px;
    min-width: 530px;
    min-height: 140px;
    max-height: 150px;
}
.container-form .btn-enviar{
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: #4d51c3;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
}
.container-form .btn-enviar:hover{
    background: #3c3fa7;
}
