form p{
    display: grid;
    width: 50%;
    
}
form{
    padding-bottom: 20px;
}
.container-noticias-detalle{
    display: grid;
    align-items: center;
    padding: 40px;

} 
.tituloytexto p {
    width: 50%;
}
.Comentario{
    width: 50%;
    border-style: ridge;
}
textarea#cuerpo_comentario{
    max-width: 100%;
    max-height: 100%;
    border-color:#9B9EE2;
}

.imagendelmedio img{
    width: 50%;
}
button.btn_comentar{
    background: #4d51c3;
    color: #fff;
}