/* body{
    font-size: 20px;
    background-color: #fff;
} */



article{
    display: column;

}


section{ 
    display: column;
    width: 85%;
    /*margin: 20px;*/
}

.container-noticias {
    display: flex ;
    padding: 10px;

}

/* Scroll Personalizado */

.tituloytexto::-webkit-scrollbar {
	width: 7px;
}

.tituloytexto::-webkit-scrollbar-thumb {
	background: #9B9EE2;
	border-radius: 5px;
}

.tituloytexto {
    box-shadow: 4px 4px 7px 1px rgb(0 0 0 / 30%);
    padding-left: 10px;
    padding-right: 10px;
    margin: 20px;
    background-color: #fff;
    height: 300px;
    overflow-y: scroll;
}

.imagendelmedio {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    margin: 20px;
    height: 300px;

}

.titulonoticia{
    font-size: 40px;
    
}

aside {
    border-left: groove;
    display: column;
    padding: 10px;
    justify-content: right;
    align-items: center;
    justify-content: space-between;
    /*margin: 20px;*/
    

}

.noticiasaside {
    display: flex;
    height: 150px;
    padding-right: 10px;
    background-color: #F7F4F4;
    border: 10px solid   #fff;
    border-radius: 20px;

}

.noticiasaside img{
    height: 120px;
    border-radius: 10px;



}

p {
    padding: 30px;
}

section.textoeimagen {
    width: 100%;
}


.textodeaside {
    padding: 10px;
    font-size: 14px;
    font-family: sans-serif;
    word-wrap: break-word;
    max-height: 90%;
    overflow: hidden;
    
}

.imagendelaside {
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    
}
div.noticiaseimagen {
    display: flex;


}

.textoimagenycomentarios{
    display: column;
}

.textoeimagendiv {
    display: flex;

}

textarea#id_cuerpo_comentario{
    border:1px #9B9EE2;
}


@media(max-width: 1027px)  {
    .container-noticias{
        display: contents;
    }
    .textoeimagendiv {
        display: contents;
    }
    
    }
