/*
.barra{
    display: flex;
    width: 100%;
    height: 100px;
    background-color: #9B9EE2;
    align-items: center;
    }
    .triangulo{
    margin: 0;
    width: 0px;
    border: 50px solid transparent;
    border-left-color:#ABADE0;
    }
    h4 {
        display: block;
        font-size: 2.5em;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
        font-family: 'Suez One';
        font-style: normal;
        color: #FFFFFF;
        font-weight: 400;
        line-height: 65px;
        text-shadow: 1px 1px 1px #000000;
    }
<<<<<<< Updated upstream
****
section{ display: flex;
    width: 85%;
    
=======

section{ display: flex;
>>>>>>> Stashed changes
}
article {
    display: flex;

}
<<<<<<< Updated upstream

.tituloytexto {
    padding: 10px;
    font-weight: bold;
    background-color: white;
    box-shadow: 4px 4px 7px 1px rgb(0 0 0 / 30%);
    width: 30%;
    overflow:scroll;
}

h2 {
    font-size: 40px;
}

.imagenes_noticias {
    width: 60%;
}
*/
/*.main_container {
    border: 1px;   
    width: 325px;
    height: ;
    margin: 100px auto 40px;
.sedans {
    background-color: aqua;
}
    
}

*{
    margin: 0px;
    padding: auto;
    box-sizing: border-box;
}
*/

body{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fff;
}



article{
    display: column;
}


section{ 
    width: 85%;
    margin: 20px;
}

.container-noticias {
    display: flex !important;
    padding: 50px;
}

.tituloytexto {
    box-shadow: 4px 4px 7px 1px rgb(0 0 0 / 30%);
    padding-left: 10px;
    padding-right: 10px;
    background-color: #fff;
}

aside {
    display: column;
    padding: 20px;
    justify-content: right;
    align-items: center;
    justify-content: space-between;

}

.noticiasaside {
    display: flex;
}

.noticiasaside img{
    height: 100px;
    padding-right: 10px;

}

p {
    padding: 30px;
}
